// colors

$col-primary: #fefff5;
$col-secondary: #fbfcf8;
$col-white-dull: #cacaca;
$primary-text-color: #5e6e89;
$col-text-secondary: #b1b5c3;
$col-divider: #f7f9df;

$col-white: #ffffff;

$col-black: #000000;
$col-black-900: #141316;
$col-black-800: #1b1c1e;
$col-black-700: #1e1e29;
$col-black-650: #1b1b1b;
$col-black-600: #18181c;
$col-black-550: #191b1f;
$col-black-500: #141316;
$col-black-400: #0f1219;
$col-black-350: #18181c;
$col-black-300: #161a25;
$col-black-200: #222531;
$col-black-100: #323546;

// Purple

$col-purple: #f9ebff;
$col-purple-10: #ecbefe;
$col-purple-20: #df93fd;
$col-purple-30: #d26cfb;
$col-purple-40: #c74cf7;
$col-purple-50: #bc33f2;
$col-purple-60: #b020e9;
$col-purple-70: #9f11d7;
$col-purple-80: #7e07ad;
$col-purple-90: #4d026b;
$col-purple-100: #250033;

// Green

$col-green: #f6fef9;
$col-green-10: #ecfdf3;
$col-green-20: #d1fadf;
$col-green-30: #a6f4c5;
$col-green-40: #6ce9a6;
$col-green-50: #32d583;
$col-green-60: #12b76a;
$col-green-70: #039855;
$col-green-80: #027a48;
$col-green-90: #05603a;
$col-green-100: #054f31;

// Grey

$col-grey: #fcfcfd;
$col-grey-10: #f9fafb;
$col-grey-20: #f2f4f7;
$col-grey-30: #eaecf0;
$col-grey-40: #d0d5dd;
$col-grey-50: #98a2b3;
$col-grey-60: #667085;
$col-grey-70: #475467;
$col-grey-80: #344054;
$col-grey-90: #1d2939;
$col-grey-100: #101828;

// Red

$col-red: #fffbfa;
$col-red-10: #fef3f2;
$col-red-20: #fee4e2;
$col-red-30: #fecdca;
$col-red-40: #fda29b;
$col-red-50: #f97066;
$col-red-60: #f04438;
$col-red-70: #d92d20;
$col-red-80: #b42318;
$col-red-90: #912018;
$col-red-100: #7a271a;

// Blue

$col-blue: #fcfcfd;
$col-blue-10: #f8f9fc;
$col-blue-20: #eaecf5;
$col-blue-30: #d5d9eb;
$col-blue-40: #b3b8db;
$col-blue-50: #717bbc;
$col-blue-60: #4e5ba6;
$col-blue-70: #3e4784;
$col-blue-80: #363f72;
$col-blue-90: #002237;
$col-blue-100: #110041;

// Yellow

$col-yellow: #fffcf5;
$col-yellow-10: #ffe5b2;
$col-yellow-20: #ffd98f;
$col-yellow-30: #f5ce84;
$col-yellow-40: #ebbf67;
$col-yellow-50: #e5ae40;
$col-yellow-60: #d6981b;
$col-yellow-70: #b88217;
$col-yellow-80: #8f6512;
$col-yellow-90: #66480d;
$col-yellow-100: #463209;

// fonts
$font-space: 'Space Grotesk', sans-serif;
$font-over: 'Overpass', sans-serif;
$font-mono: 'Space Mono', sans-serif;

$avenir-400: 'Avenir-400';
$avenir-300: 'Avenir-300';
$avenir-500: 'Avenir-500';
$avenir-800: 'Avenir-800';
$avenir-900: 'Avenir-900';

$matter-400: 'Matter-400';
$matter-500: 'Matter-500';
$matter-700: 'Matter-700';
$matter-900: 'Matter-900';

$z-indexes: ('level-four', 'level-three', 'level-two', 'level-one');

//transition
$all-transition: all 0.3s ease-out;
