@import 'styles/imports';

.modal_container {
  position: fixed;
  inset: 0;
  background-color: rgba(2, 2, 2, 0.7);
  backdrop-filter: blur(1rem);
  height: 100%;
  z-index: 11;
  @include flex(center, center);

  &[data-close-button='false'] {
    justify-content: center;
    padding-top: 0;
  }
}

.close {
  width: 2rem;
  height: 2rem;
  position: relative;
  transition: transform 0.2s ease-out;
  cursor: pointer;
  &:hover {
    transform: rotate(90deg);
  }
}

.modal {
  width: 30rem;
  min-height: 20rem;
  // max-height: 70rem;
  // overflow-y: auto;
  background-color: $col-secondary;
  border-radius: 1rem;
  padding: 2.4rem 3.4rem;
  @include screenMax('mobile') {
    width: 95%;
    padding: 2rem;
  }
}

.header {
  row-gap: 1.2rem;
  margin-bottom: 3.2rem;
  @include flex(space-between);
  &[data-active='false'] {
    @include flex(center, center);
  }
}

.title {
  h3 {
    @extend %text-24;
    font-family: $matter-500;
  }
  @include screenMax('mobile') {
    h3 {
      font-size: 2.6rem;
    }
    p {
      font-size: 1.4rem;
    }
  }
}

.icon {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
