@import '@/styles/imports';

.card {
  width: 63.5rem;
  border: 0.6rem solid $col-blue-100;
  padding: 2.8rem 5rem;
  position: relative;
  background-color: $col-white;
  .menu_container {
    position: absolute;
    top: 2.8rem;
    right: 5rem;
    .menu {
      position: relative;
      width: 3.2rem;
      height: 3.2rem;
      cursor: pointer;
    }
  }
  .title,
  .text {
    h1 {
      @extend %title-24;
      text-transform: capitalize;
    }
    h3 {
      @extend %text-16;
      font-family: $matter-500;
      color: $primary-text-color;
    }
  }
  .text {
    p {
      @extend %text-20;
      font-family: $font-mono;
      font-weight: 700;
    }
  }
  .paymentType_container {
    margin: 3.2rem 0;
    .label {
      margin-bottom: 0.5rem;
      p {
        font-size: 1.6rem;
        line-height: 2.2rem;
        color: $primary-text-color;
        font-family: $matter-500;
        font-weight: 500;
        cursor: default;
      }
    }
  }
  .details_container {
    margin: 3.2rem 0;
    width: 100%;
  }
  .divider {
    width: 100%;
    height: 0.1rem;
    background-color: $col-divider;
    margin: 1rem 0;
  }
  .swap_container {
    width: 100%;
    margin: 3.2rem 0;
    display: grid;
    place-content: center;
    .swap_icon {
      position: relative;
      width: 5.8rem;
      height: 5.8rem;
      cursor: pointer;
    }
  }
  .button {
    width: 100%;
    background-color: #cdee2d;
    @include flex(center, center);
    .icon {
      position: relative;
      width: 2.4rem;
      height: 2.4rem;
      margin-left: 0.4rem;
    }
  }
}
