%btn {
  transition: all 0.2s ease-out;
  border-width: 0.1rem;
  border-style: solid;
  outline: none;
  cursor: pointer;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 700;
  font-family: $font-mono;
  background-color: transparent;
  padding: 1.75rem 2.35rem;
  border-radius: 0.2rem;
  @include screenMax('tablet') {
    padding: 1.4rem 2.6rem;
  }

  // @include flex(center, center);
  // column-gap: 6px;

  // @include flex(center, center, row nowrap);
}

%btn-primary {
  @extend %btn;

  min-width: 5rem;
  min-height: 3rem;
  border-color: #110041;
  // box-shadow: 0.3rem 0.3rem $col-grey-40;
  background-color: #110041;
  &:active {
    transition: $all-transition;
  }
  &:hover {
    transform: scale(1.02);
    transition: $all-transition;
  }
  color: $col-white;
}

%btn-transparent {
  @extend %btn;
  background-color: transparent;
  border-color: transparent;
  color: $col-white;
  transition: $all-transition;
  &:hover {
    border-color: #373737;
    transition: $all-transition;
  }
}
